
<body>
  <header class="header">
    <div class="header-left">
      <div class="header-logo">
        <img src="/assets/Frame.svg" alt="логотип сайта">
      </div>
      <nav class="header-nav">
        <div class="header-nav-item">{{headeritem1}}</div>
        <div class="header-nav-item">{{headeritem2}}</div>
        <div class="header-nav-item">{{headeritem3}}</div>
      </nav>
    </div>
    <div class="header-right">
      <img class="Phone" src="/assets/Phone.svg" alt="" />
      <div class="header-right-item">+7 (965) 084-29-29</div>
      <div class="header-right-item"><img src="/assets/Heart1.svg" alt="" /></div>
      <button class="header-right-item header-right basket">
        <img class="Phone" src="/assets/Maskgroup.svg" alt="" />
        <div class=""> Пусто</div>
      </button>
    </div>
  </header>
  
  <div class="menu">
    <div class="menu-left">
      <div class="menu-logo2">
        <img src="/assets/Light.svg" alt="икона коталога">
      </div>
      <nav class="menu-nav">
        <div class="menu-nav-item">{{header2item}}</div>
        <div class="menu-nav-item">{{header2item2}}</div>
        <div class="menu-nav-item">{{header2item3}}</div>
        <div class="menu-nav-item">{{header2item4}}</div>
        <div class="menu-nav-item">{{header2item5}}</div>
      </nav>
    </div>
    <div class="menu-right">
      <form class="search-1">
        <input class="search" type="search" placeholder="Поиск, например Круг зачистной">
        <img class="lup" src="/assets/search.svg" alt="">
      </form>
      <div class="msc">
        <img class="" src="/assets/map-pin (2) 1.svg" alt="" />
        <div class="menu-right">Москва</div>
      </div>
    </div>
  </div>
  <div>
  
    <div class="baner-img">
      <img class="man" src="/assets/banner.png" alt="backgraund-large">
    </div>
  
    <div class="header-top">
      <div class="item-header-top">
        <img class="img-item-header-top" src="/assets/Maskgroup1.svg" alt="Большой ассортимент" />
        <div class="item-header-top-text">
          <span class="bottom-text">Большой ассортимент</span>
          <span class="top-text">строительных материалов всегда в наличии</span>
        </div>
      </div>
      <div class="item-header-top">
        <img class="img-item-header-top" src="/assets/Maskgroup2.svg" alt="Достовка сторойматериалов">
        <div class="item-header-top-text">
          <span class="bottom-text">Доставка сторойматериалов</span>
          <span class="top-text">в течении четырех часов или в любое удобное время</span>
        </div>
      </div>
      <div class="item-header-top">
        <img class="img-item-header-top" src="/assets/Maskgroup3.svg" alt="Многоуровневая сиситема управления" />
        <div class="item-header-top-text">
          <span class="bottom-text">Многоуровневая сиситема управления</span>
          <span class="top-text">качеством по стандарту ISO 9001</span>
        </div>
      </div>
    </div>
  
    <div class="content-container">
      <div class="item-cards">
        <div class="item-cards__pagination">
          <button class="item-cards__pagination-button active-button">1</button>
          <button class="item-cards__pagination-button">2</button>
          <button class="item-cards__pagination-button">3</button>
          <button class="item-cards__pagination-button">4</button>
          <button class="item-cards__pagination-button">5</button>
        </div>
        <div class="item-cards__grid">
          <div class="item-cards__grid-left">
            <div class="item-cards__grid-left-text">
              Строительный отделочный инструмент
            </div>
            <div class="item-cards__grid-left-action">
              <span class="text-span"> Перейти в каталог</span>
              <a class="item-cards__grid-left-action-link">
                <img src="/assets/Frame20.svg" alt="">
              </a>
            </div>
          </div>
          <div class="item-cards__grid-right">
            <div class="item_cards__grid-right-block-1">
              <div class="item_cards__grid-right-block-text-1">
                Эмали
              </div>
              <div class="item_cards__grid-right-block-action-1">
                <span class="text-span"> Перейти в каталог</span>
                <a class="item-cards__grid-left-action-link-1">
                  <img src="/assets/Frame20.svg" alt="">
                </a>
              </div>
            </div>
            <div class="item_cards__grid-right-block-2">
              <div class="item_cards__grid-right-block-text-2">
                Лакокрасочные материалы
              </div>
              <div class="item_cards__grid-right-block-action-2">
                <span class="text-span"> Перейти в каталог</span>
                <a class="item-cards__grid-left-action-link-2">
                  <img src="/assets/Frame20.svg" alt="">
                </a>
              </div>
            </div>
            <div class="item_cards__grid-right-block-3">
              <div class="item_cards__grid-right-block-text-3">
                Пены, клеи и герметики
              </div>
              <div class="item_cards__grid-right-block-action-3">
                <span class="text-span"> Перейти в каталог</span>
                <a class="item-cards__grid-left-action-link-3">
                  <img src="/assets/Frame20.svg" alt="">
                </a>
              </div>
            </div>
            <div class="item_cards__grid-right-block">
              <div class="item_cards__grid-right-block-4">
                <div class="item_cards__grid-right-block-text-4">
                  Розетки и выключатели
                </div>
                <div class="item_cards__grid-right-block-action-4">
                  <span class="text-span"> Перейти в каталог</span>
                  <a class="item-cards__grid-left-action-link-4">
                    <img src="/assets/Frame20.svg" alt="">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="content-container-card">
    <div class="products">
      <span class="products-item__cards-left">Популярные товары</span>
      <a class="products-item__cards-right" href="">Посмотреть все товары</a>
    </div>
    <div class="products-item__cards">
      <div class="products-item__cards-block">
        <div class="products-item__cards-block-circle">
          <div class="products-item__cards-block-circle-heart">
            <img src="/assets/Frame 100.svg" alt="Frame 100">
            <img src="/assets/heart 1.svg" alt=" heart_1">
          </div>
        </div>
        <div class="products-item__cards-block-text-1">Круг зачистной 125х6х22</div>
        <div class="products-item__cards-block-text-2">Артикул 00004т</div>
        <div class="price">
          <div class="price-text">Цена за штуку</div>
          <div class="price-number">
            <div class="price-1">52 руб.</div>
            <div class="price-2">48 руб. </div>
          </div>
        </div>
        <div class="quantity-selektor">
          <div class="selektor">
            <span class="selektor-text">Количество</span>
            <div class="quantity-plus__minus-1">
              <button class="quantity-plus__minus">-</button>
              <span class="quantity-1">1</span>
              <button class="quantity-plus__minus">+</button>
            </div>
          </div>
          <button class="quantity-button">В корзину</button>
        </div>
      </div>
      <div class="products-item__cards-block">
        <div class="products-item__cards-block-circle">
          <div class="products-item__cards-block-circle-heart">
            <img src="/assets/Frame 100.svg" alt="Frame 100">
              <img src="/assets/heart 1.svg" alt=" heart_1">
            </div>
          </div>
          <div class="products-item__cards-block-text-1">Круг зачистной 125х6х22</div>
          <div class="products-item__cards-block-text-2">Артикул 00004т</div>
          <div class="price">
            <div class="price-text">Цена за штуку</div>
            <div class="price-number">
              <div class="price-1">52 руб.</div>
              <div class="price-2">48 руб. </div>
            </div>
          </div>
          <div class="quantity-selektor">
            <div class="selektor">
              <span class="selektor-text">Количество</span>
              <div class="quantity-plus__minus-1">
                <button class="quantity-plus__minus">-</button>
                <span class="quantity-1">1</span>
                <button class="quantity-plus__minus">+</button>
              </div>
            </div>
            <button class="quantity-button">В корзину</button>
          </div>
        </div>
        <div class="products-item__cards-block">
          <div class="products-item__cards-block-circle">
            <div class="products-item__cards-block-circle-heart">
              <img src="/assets/Frame1001.svg" alt="Frame 100">
              <!-- <img class="products-item__crads-procent" src="/assets/Frame 100.svg" alt="Frame 100"> -->
              <img src="/assets/heart 1.svg" alt=" heart_1">
            </div>
          </div>
          <div class="products-item__cards-block-text-1">Круг зачистной 125х6х22</div>
          <div class="products-item__cards-block-text-2">Артикул 00004т</div>
          <div class="price">
            <div class="price-text">Цена за штуку</div>
            <div class="price-number">
              <div class="price-1">52 руб.</div>
              <div class="price-2">48 руб. </div>
            </div>
          </div>
          <div class="quantity-selektor">
            <div class="selektor">
              <span class="selektor-text">Количество</span>
              <div class="quantity-plus__minus-1">
                <button class="quantity-plus__minus">-</button>
                <span class="quantity-1">1</span>
                <button class="quantity-plus__minus">+</button>
              </div>
            </div>
            <button class="quantity-button">В корзину</button>
          </div>
        </div>
        <div class="products-item__cards-block">
          <div class="products-item__cards-block-circle">
            <div class="products-item__cards-block-circle-heart">
              <img src="/assets/Frame1001.svg" alt="Frame 100">
              <img src="/assets/heart 1.svg" alt=" heart_1">
            </div>
          </div>
          <div class="products-item__cards-block-text-1">Круг зачистной 125х6х22</div>
          <div class="products-item__cards-block-text-2">Артикул 00004т</div>
          <div class="price">
            <div class="price-text">Цена за штуку</div>
            <div class="price-number">
              <div class="price-12">52 руб.</div>
              <!-- <div class="price-2">48 руб. </div> -->
            </div>
          </div>
          <div class="quantity-selektor">
            <div class="selektor">
              <span class="selektor-text">Количество</span>
              <div class="quantity-plus__minus-1">
                <button class="quantity-plus__minus">-</button>
                <span class="quantity-1">1</span>
                <button class="quantity-plus__minus">+</button>
              </div>
            </div>
            <button class="quantity-button">В корзину</button>
          </div>
        </div>
      </div>
    </div>
    <div class="advertising">
      <div class="advertising-left"></div>
      <h1 class="advertising-left-text">БОЛЕЕ 10 000 НАИМЕНОВАНИЙ</h1>
      <h2 class="advertising-left-text-1">Инструмент для вашего бизнеса, разнообразных марок</h2>
      <a class="advertising-left-text-2" href="">Перейти в каталог</a>
      <div class="advertising-men">
        <img class="advertising-right" src="/assets/pngwing1.png" alt="">
      </div>
    </div>
    <div class="content-container-card">
      <div class="products">
        <span class="products-item__cards-left">Популярные товары</span>
        <a class="products-item__cards-right" href="">Посмотреть все товары</a>
      </div>
    
      <div class="products-item__cards">
        <!-- Карточка товара -->
        <div class="products-item__cards-block">
          <div class="products-item__cards-block-circle">
            <div class="products-item__cards-block-circle-heart">
              <img src="/assets/Frame1001.svg" alt="Иконка с рамкой">
              <img src="/assets/heart 1.svg" alt="Иконка сердца">
            </div>
          </div>
          <div class="products-item__cards-block-text-1">Круг зачистной 125х6х22</div>
          <div class="products-item__cards-block-text-2">Артикул 00004т</div>
          <div class="price">
            <div class="price-text">Цена за штуку</div>
            <div class="price-number">
              <div class="price-top">52 руб.</div>
            </div>
          </div>
          <div class="quantity-selektor">
            <div class="selektor">
              <span class="selektor-text">Количество</span>
              <div class="quantity-plus__minus">
                <button class="quantity-plus__minus">-</button>
                <span class="quantity-1">1</span>
                <button class="quantity-plus__minus">+</button>
              </div>
            </div>
            <button class="quantity-button">В корзину</button>
          </div>
        </div>
    
        <!-- Повторяющаяся карточка товара -->
        <div class="products-item__cards-block">
          <div class="products-item__cards-block-circle">
            <div class="products-item__cards-block-circle-heart">
              <img src="/assets/Frame1001.svg" alt="Иконка с рамкой">
              <img src="/assets/heart 1.svg" alt="Иконка сердца">
            </div>
          </div>
          <div class="products-item__cards-block-text-1">Круг зачистной 125х6х22</div>
          <div class="products-item__cards-block-text-2">Артикул 00004т</div>
          <div class="price">
            <div class="price-text">Цена за штуку</div>
            <div class="price-number">
              <div class="price-top">52 руб.</div>
            </div>
          </div>
          <div class="quantity-selektor">
            <div class="selektor">
              <span class="selektor-text">Количество</span>
              <div class="quantity-plus__minus">
                <button class="quantity-plus__minus">-</button>
                <span class="quantity-1">1</span>
                <button class="quantity-plus__minus">+</button>
              </div>
            </div>
            <button class="quantity-button">В корзину</button>
          </div>
        </div>
    
        <!-- Еще одна карточка товара -->
        <div class="products-item__cards-block">
          <div class="products-item__cards-block-circle">
            <div class="products-item__cards-block-circle-heart">
              <img src="/assets/Frame1001.svg" alt="Иконка с рамкой">
              <img src="/assets/heart 1.svg" alt="Иконка сердца">
            </div>
          </div>
          <div class="products-item__cards-block-text-1">Круг зачистной 125х6х22</div>
          <div class="products-item__cards-block-text-2">Артикул 00004т</div>
          <div class="price">
            <div class="price-text">Цена за штуку</div>
            <div class="price-number">
              <div class="price-top">52 руб.</div>
            </div>
          </div>
          <div class="quantity-selektor">
            <div class="selektor">
              <span class="selektor-text">Количество</span>
              <div class="quantity-plus__minus">
                <button class="quantity-plus__minus">-</button>
                <span class="quantity-1">1</span>
                <button class="quantity-plus__minus">+</button>
              </div>
            </div>
            <button class="quantity-button">В корзину</button>
          </div>
        </div>
        <div class="products-item__cards-block">
          <div class="products-item__cards-block-circle">
            <div class="products-item__cards-block-circle-heart">
              <img src="/assets/Frame1001.svg" alt="Иконка с рамкой">
              <img src="/assets/heart 1.svg" alt="Иконка сердца">
            </div>
          </div>
          <div class="products-item__cards-block-text-1">Круг зачистной 125х6х22</div>
          <div class="products-item__cards-block-text-2">Артикул 00004т</div>
          <div class="price">
            <div class="price-text">Цена за штуку</div>
            <div class="price-number">
              <div class="price-top">52 руб.</div>
            </div>
          </div>
          <div class="quantity-selektor">
            <div class="selektor">
              <span class="selektor-text">Количество</span>
              <div class="quantity-plus__minus">
                <button class="quantity-plus__minus">-</button>
                <span class="quantity-1">1</span>
                <button class="quantity-plus__minus">+</button>
              </div>
            </div>
            <button class="quantity-button">В корзину</button>
          </div>
        </div>
    
        <!-- Закрывающий тег для блоков карточек товара -->
      </div>
    </div>
    
    <footer class="footer">
      <div class="footer-contacts">
          <div class="footer-contacts-data">
              <img class="footer-logo" src="/assets/Frame.svg" alt="Logo">
              <div class="footer-contacts-communication">
                  <div class="footer-contacts-communication-item">
                      <img src="/assets/Icon.svg" alt="Phone">
                      <div class="data-communication-content">                    
                          <h3 class="data-communication-content">Контактный телефон</h3>
                          <p class="data-communication-content-text">+ 7 (812) 309-09-34</p>
                          <p class="data-communication-content-text">+ 7 (965) 084-29-09</p>
                      </div>
                  </div>
                  <div class="footer-contacts-communication-item">
                      <img src="/assets/email-icon.svg" alt="Email">
                      <div class="data-communication-content">                    
                          <h3 class="data-communication-content-title">Электронная почта</h3>
                          <p class="data-communication-content-text">tustin78&#64;mail.ru</p>
                          <p class="data-communication-content-text">info&#64;tustin.ru</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="line"></div>
          <div class="footer-contacts-form">
              <h3 class="footer-contacts-form-title">Остались вопросы?</h3>
              <p class="footer-contacts-form-subtitle">Узнавайте первым о скидках, предложениях и событиях еженедельно в своем почтовом ящике. Отпишитесь в любое время одним щелчком мыши.</p>
              <div class="footer-contacts-form-input">
                  <input class="form-input" type="text" placeholder="Введите свою почту">
                  <button type="submit" class="form-button">Отправить</button>
              </div>
          </div>
      </div>
      <div class="line-bottom"></div>
      <div class="footer-content">
          <div class="footer-content-navigation">
              <nav class="footer-navigation">
                  <ul class="footer-navigation-list">
                      <li class="footer-navigation-item">Главная</li>
                      <li class="footer-navigation-item">О компании</li>
                      <li class="footer-navigation-item">Каталог</li>
                  </ul>
              </nav>
              <div class="footer-content-social-network">
                  <img src="/assets/facebook.svg" alt="Facebook">
                  <img src="/assets/youtube.png" alt="Youtube">
                  <img src="/assets/watsapp.svg" alt="Whatsapp">
              </div>
          </div>
          <p class="footer-content-text">
              © 2021-2022, EDE
          </p>
      </div>
  </footer>