.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    color: white;
    background-color: #4B565E;
    padding: 0px 240px;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-logo {
    margin-right: 40px;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-nav-item {
    margin-right: 20px;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right-item {
    margin-right: 40px;
}

.Phone{
    margin-right: 12px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    color: #3c3c3b;
    background-color: #f0ba4e;
    padding: 0px 240px;
}

.basket {
    background-color: transparent;
    color: white;
    border-color: rgba(240, 186, 78, 1);
    border-radius: 50px;
    border-width: 1px;
    border-style: solid;
    padding:10px 20px;
    width: 110px;
    height: 48px;
}

.basket:active{
    background-color: grey;
  
    
}

.menu-left{
        display: flex;
        align-items: center;
}

.menu-nav {
    display: flex; 
    align-items: center;
}

.menu-nav-item {
    margin-right: 25px;
}

.katalog {
    padding-bottom: 10px;
}

.menu-logo2 {
    margin-right: 10px;
} 
 
.menu-right {
    display: flex;
    align-items: center;
}

.search-1 {
    display: flex;
    box-sizing: border-box;
    width: 400px;
    height: 28px;
    border-bottom: 1px solid black;  
}

.search {
    width: 375px;
    height: 28px;
    background: transparent;
    border: none;
    outline: none;
}

.msc {
    display: flex;
    gap: 5px;
    color: white;
    
}

.lupa {
    margin-bottom: 2px;
}

.baner-img {
    margin-bottom: 25px;
}

.man {
    width: 100%;
}

.header-top {
    max-width: 1319px;
    width: 1319px;
    margin: 0 auto;
    display: flex;
    gap: 28px;
    margin-bottom: 25px;
} 

.item-header-top {
    display: flex;
    width: 421px;
    height: 72px;
    align-items: center;
    gap: 16px;
}
 
.bottom-text {
    font-size: 18px;
    font-weight: 500;
    line-height: 21.78px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #000000;
} 

.top-text {
    font-size: 18px;
    font-weight: 500;
    line-height: 21.78px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color:  #A1A0A0;
}

.item-header-top-text {
    display: flex;
    flex-direction: column;
    
}

.img-item-header-top {
    width: 72px;
    height: 72px;

}

.content-container {
    max-width: 1320px;
    margin:0 auto;
}

.item-cards__pagination {
    display: flex;
    justify-content: end;
    margin-bottom: 25px;
}

.item-cards__pagination-button {
    font-family: inter;
    border: none;
    background: none;
    color: #a1a0a0; 

}

.active-button {
    color: #f0ba4e;
    font-weight: 600;
}

.item-cards__grid {
    display: flex;
    gap: 28px;
}

.item-cards__grid-left {
    box-shadow: 0px 20px 50px 0px #3c3c3b12;
    max-height: 428px;
    max-width: 421px;
    height: 428px;
    background-image: url(/assets/image19.svg);
    background-repeat: no-repeat;
    overflow: hidden;
    background-position-y: bottom;
    background-position-x: left;
    padding: 15px; 
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-span {
    margin-right: 10px;
}

.item-cards__grid-left-text {
    font-size: 28px;
    font-family: inter;
    font-weight: 600;
}

.item-cards__grid-left-action {
    align-self: end;  
    display: flex;
    align-items: center;
}

.item-cards__grid-left-link {
    width: 40px; 
    height: 40px;
}

.item-cards__grid-right {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    gap: 28px;
    height: 428px;
    width: 870px;
}

.item_cards__grid-right-block-1 {
    width: 421px;    
    height: 200px;
    box-shadow: 0px 20px 50px 0px #3c3c3b12;
    background-image: url(/assets/image14.svg);
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: bottom; 
}   

   .item_cards__grid-right-block-text-1 {
    width: 91px;
    height: 34px;
    padding-left: 314px;
    padding-top: 16px;
    font-family: Inter;
    font-size: 28px;
    font-weight: 600;
    line-height: 33.89px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.item_cards__grid-right-block-action-1 {
     padding-left: 213px;
     padding-top: 90px;
     align-self: self-end;
     display: flex;
     align-items: center;
}

.item_cards__grid-right-block-2 {
    width: 421px;    
    height: 200px;
    box-shadow: 0px 20px 50px 0px #3c3c3b12;
    background-image: url(/assets/image17.svg);
    background-repeat: no-repeat;
    overflow: hidden;
    background-position-y: bottom;
    background-position-x: right;
}

.item_cards__grid-right-block-text-2 {
    width: 231px;
    height: 68px;
    display: flex;
    font-size: 28px;
    font-family: inter;
    font-weight: 600;
    padding-top:  16px;
    padding-left:  16px;
}

.item_cards__grid-right-block-action-2 {
    display: flex;
    align-self: self-end;
    align-items: center;
    padding-top: 55px;
    padding-left: 16px;  
}

.item_cards__grid-right-block-3 {
    width: 421px;
    height: 200px;
    box-shadow: 0px 20px 50px 0px #3c3c3b12;
    background-image:  url(/assets/image18.png);   
    background-repeat: no-repeat;
    overflow: hidden;
    background-position-y: bottom;
    background-position-x: right;
}

.item_cards__grid-right-block-text-3 {
    display: flex;
    width: 218px;
    height: 68px;
    font-size: 28px;
    font-family: inter;
    font-weight: 600;
    padding-top: 16px;
    padding-left: 16px;
}

.item_cards__grid-right-block-action-3 {
    display: flex;
    align-self: self-end;
    align-items: center;
    padding-top: 55px;
    padding-left: 16px;
}

.item_cards__grid-right-block-4 {
    width: 421px;    
    height: 200px;
    box-shadow: 0px 20px 50px 0px #3c3c3b12;
    background-image: url(/assets/image15.svg);
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: bottom; 
}

.item_cards__grid-right-block-text-4 {
    width: 336px;
    height: 34px;
    display: flex;
    font-size: 28px;
    font-family: inter;
    font-weight: 600;
    padding-top:  16px;
    padding-left:  16px;
} 

.item_cards__grid-right-block-action-4 {
    padding-left: 213px;
    padding-top: 90px;
    align-self: self-end;
    display: flex;
    align-items: center;
}

.content-container-card {
    max-width: 1320px;
    margin:0 auto;
    position: relative;
}

.products {
    display: flex;
    width: 1320px;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 20px;
    position: relative;
}

.products-item__cards-left {
    display: flex;
    font-family: Inter;
    font-size: 28px;
    font-weight: 500;
    line-height: 33.89px;
    text-align: left;
    color: #000000;
  
}
    

.products-item__cards-right {
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.78px;
    text-align: left;
    color: #f0ba4e;
}

.products-item__cards {
    display: flex;
    height: 429px;
    width: 1320px;
    gap: 28px;
}

.products-item__cards-block {
    display: flex;
    flex-direction: column;
    width: 309px;
    box-shadow: 0px 20px 50px 0px rgba(18, 17, 39, 0.08); 
    background: rgba(255, 255, 255, 1);
    padding: 24px;
    gap: 8px;
}

.products-item__cards-block-circle {
    display: flex;
    height: 180px;
    width: 261px;
    background-image: url("/assets/image13.svg");
}

.products-item__cards-block-circle-heart {
    display: flex;
    height: 39px;
    width: 261px;
    justify-content: space-between;
}
     
.products-item__cards-block-text-1 {
    display: flex;
    height: 24px;
    width: 261px;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #3c3c3b;
}

.products-item__cards-block-text-2 {
    display: flex;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #3c3c3b;
}

.price {
   display: flex;
   flex-direction: column;
   height: 73px;
   width: 256PX;
   gap: 10px;
}

.price-text {
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
    line-height: 19px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #A1A0A0;
}

.price-number {
    display: flex;
    justify-content: space-between;
    height: 24px;
    width: 147px;
}

.price-1{
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
    text-decoration-line: line-through;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #3c3c3b;
}
.price-12{
    font-size: 23px;
}
.price-2 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #3c3c3b
}

.quantity-selektor {
    display: flex;
    height: 53px;
    width: 261px;
    gap: 12px;
    align-items: center
}

.selektor {
    display: flex;
    flex-direction: column;
    height: 53px;
    width: 114px;
    gap: 10px;
}

.selektor-text {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.quantity-plus__minus{
    border: none;
    outline: none;
    background: none;
    margin-left: 4px;
    margin-right: 4px;
}
.quantity-button{
    background-color: transparent;
    border-color: rgb(240, 186, 78);
    border-radius: 50px;
    border-width: 1px;
    border-style: solid;
    padding: 10px 20px;
    width: 120px;
    height: 40px;
}
.advertising{
    width: 1321px;
    height: 251px;
    margin-left: 150px;
    background-color: #F6F6F6;
}
.advertising-left-text{
    height: 34px;
    padding-top: 28px;
    padding-left: 28px;
    font-family: Inter;
    font-size: 28px;
    font-weight: 500;
    line-height: 33.89px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;}

.advertising-left-text-1{
    width: 618px;
    height: 24px;
    padding-left: 28px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.advertising-left-text-2{
    width: 167px;
    height: 22px;
    padding-top: 90px;
    padding-left: 28px;
    display: flex;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.78px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #F0BA4E;
}
.advertising-right{
    width: 486px;
    margin-left: 818px;
    margin-top: -233px;
    height: 251px;
}
.products-item__crads-procent{

}
.price-top{
    font-size: 23px;
}
.footer{
    width: 1321px;
height: 373px;

background: #4B565E;
}
.footer{
    width: 1920px;
height: 373px;
top: 2888px;
gap: 0px;
opacity: 0px;
background: #4B565E;

}
  
